
.navbar  {
  background-color: #FFCCCC;
  opacity: 0.9;
  height: 90px;
}

.navbar .container-fluid .collapse .nav .nav-item button:focus {
  background-color: #FF7D7D;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


#download-section {
  background: radial-gradient(white, gray);
  margin-top: 122px;
  margin-left: 20px;
  margin-right: 20px;
  height: 350px;
}

.zoom:hover {
  transform: scale(1.03);
}

.flex-container {
  margin-top: 50px;
  margin-left: 90px;
  display: flex;
}

.btn {
  background-color: #FF7D7D;
  border: 2px solid #FF7D7D;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
  border: none;
  
}

#social-media{
  background-color: #d3d3d3;
  height: 180px;
  opacity: 0.9;
}


/* Recources Page Styles */

.article {
  margin:40px 20px; 
  background-color: #ececec; 
  outline: 3px solid rgb(131, 129, 129);
  padding: 20px;

}

.article img{
  width: 300px;
  outline: 3px solid rgb(131, 129, 129);
}

/* .article-body {
  padding-left:20;
} */

.article-title{
  height: 50px;
  outline: 3px solid rgb(131, 129, 129);
  margin-right: 40px;
  padding: 15px;
} 

.article-content {
  margin-top: 20px;
  outline: 3px solid rgb(131, 129, 129);
  padding: 15px;
  margin-right: 40px;

}

.article-content button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #FF7D7D;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.resources {
  height: 150px;
  outline: 3px solid rgb(131, 129, 129);
  margin: 0px 80px;
  background-color: #ececec;
}

.article-popup {
  border: 2.5px solid rgb(131, 129, 129);
  border-radius: 50px;
  padding:20px;
  width: 700px;
  background-color: #ececec;
  position: absolute;
  transform: translate(-50%, -50%) scale(1.25);  
  top: -150%;
  left: 50%;
  opacity: 0;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.article-popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);  
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.article-popup .close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
